@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Inter:wght@500;600;700&display=swap");

:root {
  --white: #fff;
  --gray-900: #101828;
  --gray-800: #1d2939;
  --gray-600: #475467;
  --gray-500: #667085;
  --gray-400: #98a2b3;
  --gray-300: #d0d5dd;
  --gray-200: #eaecf0;
  --blue-ribbon-700: #1861dd;
  --blue-600: #1570ef;
  --blue-ribbon-500: #3696fb;
  --blue-ribbon-400: #5cb6fe;
}

html {
  font-size: 62.5%; /* 10px / 16px = 0.625%= 62.5% */
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
